<div id="chat-container">
  <div id="chat-window">
    <div id="output"></div>
    <div id="actions"></div>
  </div>
  <input type="text" id="message" placeholder="message" />
  <button id="send">Send</button>
</div>

<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="index.js" charset="utf-8"></script>