<h1>JWT</h1>
<form id="form">
   Email: <input type="email" name="email" id="email">
   Password: <input type="password" name="password" id="password">
    <input type="submit" value="TEST">
</form>
<button id="boton">LOGIN</button>
<script src="/js/jwt.js"></script>
