<h3>Socket Cliente</h3>
<form id="form">
    <label>Name</label><input type="text" name="name" id="name">
    <label>Price</label><input type="number" name="price" id="price">
    <input type="submit" value="SEND">
</form>

<p id="products"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
