<h2>Ingrese sus datos</h2>
<form action="/users" method="post">
    Name: <input type="text" name="name" id="name">
    Email: <input type="text" name="email" id="email">
    Pass: <input type="password" name="password" id="password">
    <input type="submit" value="LOGIN">
</form>