<h1>LOGIN</h1>
<form action='/users/login' method='post'>
  Email: <input type='email' name='email' id='email' />
  Password: <input type='password' name='password' id='password' />
  <input type='submit' value='LOGIN' />
</form>

<h2>USUARIO NUEVO?</h2>
<button onclick="location.href='/register'">Ir a registro</button>