<h1>REGISTRO</h1>

<form action='/users/register' method="post">
  FirstName: <input type='text' name='first_name' id='first_name' />
  LastName: <input type='text' name='last_name' id='last_name' />
  Email: <input type='email' name='email' id='email' />
  Age: <input type='number' name='age' id='age' />
  Password: <input type='password' name='password' id='password' />
  <input type='submit' value='REGISTER' />
</form>